<!DOCTYPE html>

<html>
<head>
    <title>Post scan</title>
</head>

<body>
    <h1>Add a Scan to the Database</h1>

    <form method="POST">
        <table>
        <tr>
            <td class="label">
                ID Number
            </td>
            <td>
                <input type="text" name="visitor_id">
            </td>
        </tr>

        <tr>
            <td class="label">
                Exhibit
            </td>
            <td>
                <input type="text" name="exhibit_name">
            </td>
        </tr>

        <tr>
            <td class="label">
                Password
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>

        </table>

        <input type="submit">
    </form>
</html>